{% extends 'base.html' %}
{% block title %}시도별 전세지도{% endblock %}
{% block content %}
<link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css" />
<script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"></script>

<div class="row">
  <div class="col-lg-8">
    <div id="map" style="height: 600px;"></div>
  </div>
  <div class="col-lg-4">
    <h3 id="selected-region">📍 지역: 선택X</h3>
    <p id="avg-price">💰 평균 전세가: -</p>
    <h4>📌 최고 금리 적금상품</h4>
    <ul id="savings-list" class="list-group"></ul>
  </div>
</div>

<script>
const map = L.map('map').setView([36.5, 127.5], 7);
L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png').addTo(map);

fetch('/static/geojson/korea_sido.geojson')
  .then(res => res.json())
  .then(data => {
    L.geoJSON(data, {
      onEachFeature: function (feature, layer) {
        layer.on('click', function () {
          let region = feature.properties.CTP_KOR_NM;
          region = region.replace("특별시", "").replace("광역시", "").replace("도", "").trim();
          document.getElementById('selected-region').innerText = '📍 지역: ' + region;

          fetch(`/plus/region-data?region=${region}`)
            .then(res => res.json())
            .then(data => {
              document.getElementById('avg-price').innerText = '💰 평균 전세가: ' + data.price + '만원';
              const list = document.getElementById('savings-list');
              list.innerHTML = '';
              data.products.forEach(p => {
                const li = document.createElement('li');
                li.className = 'list-group-item';
                li.innerText = `${p.상품명} (${p['최고우대금리(%)']}%) - ${p.금융회사명}`;
                list.appendChild(li);
              });
            });
        });
      },
      style: {
        color: '#555',
        weight: 1,
        fillColor: '#bfefff',
        fillOpacity: 0.6
      }
    }).addTo(map);
  });
</script>
{% endblock %}
